* {margin:0;padding:0}
a {color:#fff}
a:hover {text-decoration:none;color:#000}
body {background:url(../images/bg_all.jpg);background-repeat:repeat-x;background-position:top;background-color:#fff;font:12px Arial, Helvetica, sans-serif;color:#000}
#bg1 {background:url(../images/bg1.png);background-repeat:repeat-y;background-position:center}
#content {margin:0 auto;width:987px;text-align:left;background:url(../images/contentbg.jpg);background-repeat:repeat-y;background-position:left}
.inner_copy, .inner_copy a {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
#main {width:969px;margin-left:8px;clear:both;background:url(../images/left_bg.jpg);background-repeat:repeat-y;background-position:left}
#header {height:242px;padding-top:10px;/*background:url(../images/header.jpg);*/background-repeat:no-repeat;background-position:top;padding-bottom:3px;}
#search {float:right;padding-right:50px;padding-top:5px}
#search form {margin:0}
#search fieldset {margin:0;padding:0;border:none}
#search input {float:left;font:11px Georgia, "Times New Roman", Times, serif}
#search-text {width:230px;height:19px;padding-top:4px;padding-left:10px;padding-right:12px;border:none;background:url(../images/search.png);background-repeat:no-repeat;background-position:left top;color:#000}
#search-submit {width:40px;height:23px;background:url(../images/search2.png);background-repeat:no-repeat;background-position:left top;border:none}
//#logo {text-align:left;padding-left:480px;padding-top:90px}
//#logo h1 a {text-decoration:none;text-transform:lowercase;font-style:italic;font-size:18px;color:#0f3d85}
//#logo H2 a {font-size:12px;color:#0f3d85;text-decoration:none}
#menu {/*width:640px;*/height:52px; float: left}
#menu ul {list-style:none;padding-left:0}
#menu li {display:inline}
#menu ul li a {font-family:Arial, Helvetica, sans-serif;font-size:17px;font-weight:normal;color:#008ae8;float:left/*;width:85px*/;height:30px;display:block;text-align:left;text-decoration:none;padding-top:5px;padding-left:40px;background:url(../images/menu_bg.png);background-repeat:no-repeat;background-position:10px 5px}
#menu a:hover {/*width:85px;*/height:35px;color:#093285;text-decoration:none;background:url(../images/menu_hov.png);background-repeat:no-repeat;background-position:10px 5px}
#left {width:269px}
#logoPeruRetouch {float: left; margin-left: 10px;}
#log {line-height:20px;width:296px;}
#log fieldset {border:none;padding-left:5px;padding-right:5px}
#log label {font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:normal;color:#0e3c85;text-align:left;padding-left:10px}
#log input {margin-bottom:5px}
#login-submit {font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal;color:#fff;width:60px;height:21px;background:url(../images/subbg.jpg);background-repeat:no-repeat;background-position:left top;border:none;float:right}
#text1, #text2 {width:269px;height:22px;padding-top:4px;padding-left:8px;padding-right:8px;border:none;background:url(../images/logpole.jpg);background-repeat:no-repeat;background-position:left top;color:#000;padding-bottom:5px}
#left #log a {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;color:#0f3d85;border-bottom:1px dashed #0f3d85}
#left #log a:hover {color:#000}
#left H3 {font-family:Arial, Helvetica, sans-serif;font-size:18px;font-weight:normal;color:#fff;text-align:center;background:url(../images/title_log.jpg);background-repeat:no-repeat;background-position:top;width:296px;height:36px;padding-top:10px}
#left H4 {font-family:Arial, Helvetica, sans-serif;font-size:18px;font-weight:normal;color:#fff;text-align:center;background:url(../images/title_left.jpg);background-repeat:no-repeat;background-position:top;width:296px;height:36px;padding-top:10px;margin-top:10px;margin-bottom:10px}
#left ul {border:0;list-style:none;margin-left:10px;margin-bottom:5px;padding-top:5px}
#left li {background:url(../images/ls.jpg);background-repeat:no-repeat;background-position:0px 5px;padding-left:20px;padding-bottom:10px}
#left a {color:#0f3d85;text-decoration:none;font-weight:bold;line-height:20px}
#left p {color:#000;padding-top:3px;line-height:20px}
#left ul li .readl, #right .readl {text-align:right;height:18px;padding-right:14px;padding-top:3px;background:url(../images/more.png);background-repeat:no-repeat;background-position:right top}
#left ul li .readl a, #right .readl a {font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#fff;text-decoration:none;line-height:0}
#left ul li .readl a:hover, #right .readl a:hover {color:#e7fcff;text-decoration:none}
#right {float:right;width:664px}
#right H5 {font-family:Arial, Helvetica, sans-serif;font-size:18px;font-weight:normal;color:#0f3d85;margin-bottom:10px;padding-top:10px;border-bottom:1px solid #0f3d85}
#right H6 {font-family:Arial, Helvetica, sans-serif;font-size:18px;font-weight:normal;color:#0f3d85;padding-bottom:10px;padding-left:10px}
#right a {color:#0f3d85;font-weight:bold;text-decoration:none}
#right a:hover {color:#84c8f5}
#right p {margin:0;padding:0;padding-bottom:10px}
#gal {padding-left:5px;background:url(../images/gal_bg.jpg);background-repeat:repeat-y;background-position:left}
#gal_top {background:url(../images/gal_top.jpg);background-repeat:no-repeat;background-position:left;height:12px;margin-top:10px}
#gal_bot {background:url(../images/gal_bot.jpg);background-repeat:no-repeat;background-position:left;height:12px}
#leftcol, #cencol1, #cencol2, #rightcol {width:152px;float:left;margin-left:6px;margin-right:5px;text-align:center}
#main_bot {background:url(../images/main_bot.jpg);background-repeat:no-repeat;background-position:left bottom}
#footer {padding-top:10px;padding-bottom:10px;clear:both}
#footer p {margin:0;font-size:10px;text-align:center;color:#0e3c85}
#footer a {color:#0e3c85}
///////////
#left1 {float:left;width:664px}
#left1 H5 {font-family:Arial, Helvetica, sans-serif;font-size:18px;font-weight:normal;color:#0f3d85;margin-bottom:10px;padding-top:10px;border-bottom:1px solid #0f3d85}
#left1 H6 {font-family:Arial, Helvetica, sans-serif;font-size:18px;font-weight:normal;color:#0f3d85;padding-bottom:10px;padding-left:10px}
#left1 a {color:#0f3d85;font-weight:bold;text-decoration:none}
#left1 a:hover {color:#84c8f5}
#left1 p {margin:0;padding:0;padding-bottom:10px}

#left1 .readl {text-align:right;height:18px;padding-right:14px;padding-top:3px;background:url(../images/more.png);background-repeat:no-repeat;background-position:right top}
#left1 ul li .readl a {font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#fff;text-decoration:none;line-height:0}
#left1 ul li .readl a:hover {color:#e7fcff;text-decoration:none}
#main1 {width:969px;margin-left:8px;clear:both;background-repeat:repeat-y;background-position:left;margin-right: 8px}

#contenedorLogout{float: right;font-family:Arial, Helvetica, sans-serif;font-size:17px;font-weight:normal;padding-top: 50px;padding-right: 10px;color:#008ae8;display:block;text-decoration:none}
#uploadFiles{margin-left: 15px;width: 940px;}
#uploadFiles h3 {font-family:Arial, Helvetica, sans-serif;font-size:19px;font-weight:normal;color:#008ae8}
#uploadFiles a {font-family:Arial, Helvetica, sans-serif;font-size:17px;font-weight:normal;color:#008ae8;text-decoration: none}
#uploadFiles a:hover {font-family:Arial, Helvetica, sans-serif;font-size:17px;font-weight:normal;color:#0f3d85}
#uploadFiles p {font-family:Arial, Helvetica, sans-serif;font-size:17px;font-weight:normal;color:#0f3d85;margin-left: 5px;}
#buttonsUploadFiles{}

#viewOrder{width: 940px;margin-left: 20px; margin-right: 20px;text-align: justify}
#viewOrder h1 {font-family:Arial, Helvetica, sans-serif;font-size:20px;font-weight:bold;color:#008ae8}
#viewOrder h2 {font-family:Arial, Helvetica, sans-serif;font-size:19px;font-weight:bold;color:#0f3d85}
#viewOrder p {font-family:Arial, Helvetica, sans-serif;font-size:17px;font-weight:normal;color:#0f3d85;}
#viewOrder a {font-family:Arial, Helvetica, sans-serif;font-size:17px;font-weight:normal;color:#008ae8;}
#viewOrder a:hover {font-family:Arial, Helvetica, sans-serif;font-size:17px;font-weight:normal;color:#0f3d85}

#photoWorking {font-family:Arial, Helvetica, sans-serif;text-align: center}
#photoWorking label {color: #0f3d85;font-size: 18px;}
//#photoWorking p {color: black}

#photoSpecification {font-size: 16px;text-align: justify}

#photoType {font-size: 12px;text-align: center;color: #0f3d85}

#contenedorImagenMuestra {}
#contenedorImagenMuestra a {text-decoration: none;font-size: 16px;color: #008ae8;}
#contenedorImagenMuestra a:hover {text-decoration: none;font-size: 16px;color: #0f3d85}
#flechaBack {float: left;margin-top: 290px;margin-left: 0px}
#flechaNext {float: right;margin-top: 290px;margin-right: 0px}
#titleProduct {font-family:Arial, Helvetica, sans-serif;font-size:20px;font-weight:normal;color:#008ae8;font-weight: bold}

#btnLogout {background:url(../images/logout.png) no-repeat;height: 26px;width: 80px;float: right}
#btnLogout:hover {background:url(../images/logoutHover.png) no-repeat;height: 26px;width: 80px;float: right}